@media (max-width: 990px) {
  .slider-text-container {
    width: 500px;
    position: absolute;
    top: 30%;
    left: 20%;
  } 
}



@media (max-width: 670px) {

.rslides {
  display: none;
}

.rslides-sp {
  display: block;
}


.slider-text-container {
  width: 300px;
  position: absolute;
  top: 30%;
  left: 15%;
}

.slider-text {
  font-size: 1.5rem;
}

.br {
  display: block;
}

.nav {
	width: 220px;
	margin: 60px auto;
}

.btn-in-slide {
  margin: 10px ;
}

}