@media (max-width: 670px) {

.rslides {
  display: none;
}

.rslides-sp {
  display: block;
}


.slider-text-container {
  width: 300px;
  position: absolute;
  top: 30%;
  left: 10%;
}

.slider-text {
  font-size: 1.5rem;
}

.br {
  display: block;
}

.nav {
	width: 250px;
	margin: 60px auto 0;
}

.btn-in-slide {
  margin: 20px;
}

}