@media (max-width: 990px) {
  .slider-text-container {
    width: 500px;
    position: absolute;
    top: 30%;
    left: 20%;
  } 

  #single-card-container {
    width: 50%;
  }





}



@media (max-width: 670px) {
  .header-container {
    width: 100%;
    height: 65px;
    margin: 0 auto;	
    display: flex;
  }

  .header-tab {
    width: 33%; 
  }

.rslides {
  display: none;
}

.rslides-sp {
  display: block;
}


.slider-text-container {
  width: 300px;
  position: absolute;
  top: 30%;
  left: 15%;
}

.slider-text {
  font-size: 1.0rem;
}

.br {
  display: block;
}

.nav {
	width: 220px;
	margin: 60px auto;
}

.btn-in-slide {
  margin: 10px ;
}


/* カード */
.card-container {
  perspective: 1200px;
}


#single-card-container {
  /* flex-direction: column */
  width: 100%;
}



}